<!--Twitterのアイコン画像と名前-->
<div class="center profile">
  <p><%= image_tag current_user.image.sub(/_normal/, ''), id:"user-image" %></p>
    <h4><%= current_user.name %></h4>
  <h5 id="nickname">@<%= current_user.nickname %></h5>

</div>

<ul class="list-group">
	<li class="list-group-item">1.ツイート内容を入力</li>
	<li class="list-group-item">2.フレームを選択</li>
	<li class="list-group-item">3. [ツイートする] ボタンを押す</li>
  <li class="list-group-item">4.ツイート完了！！</li>
</ul>


<!--ツイートの入力フォーム-->
<div class="form-group">
  <%= form_for(@tweet) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div><%= f.text_area :comment, rows:"8", class:"form-control js-count", id:"tweet-area", maxlength:"100" %></div>
    <!--文字数カウント-->
    <div class="counter">
      <span class="show-count">0</span>/100
    </div>
    <div class="center" id="m-top">
     <label><%= f.radio_button :image, "./app/assets/images/test1.png" %><%= image_tag "blue.png", id:"icon" %></label>
      <label><%= f.radio_button :image, "./app/assets/images/sample.png" %><%= image_tag "green.png", id:"icon" %></label>
      <label><%= f.radio_button :image, "./app/assets/images/sample1.png" %><%= image_tag "pink.png", id:"icon" %></label>
      <h6 id="m-top">※フレームを選択</h6>
    </div>
         <div>
      <%= image_tag "test1.png", class:"center-block", id:"test1", style:"display: none;" %>
      <ul class="list-group">
        <li class="list-group-item" id="test2", style="display: none; margin: 50px;">ごめんなさい。<br>フレーム準備中です・・・</li>
      </ul>
      <% image_tag "test2.png", class:"center-block", id:"test2", style:"display: none;" %>
      <ul class="list-group">
        <li class="list-group-item" id="test3", style="display: none; margin: 50px;">ごめんなさい。<br>フレーム準備中です・・・</li>
      </ul>
      <% image_tag "test3.png", class:"center-block", id:"test3", style:"display: none;" %>
    </div>
    <p class="center" id="m-top"><%= f.submit "ツイートする", class: "btn btn-info btn-lg" %></p>
  <% end %>
</div>

<!-- ここからjQuery -->
<script>
$(function(){
  $('.js-count').keyup(function(){
    var count = $(this).val().length;
    $('.show-count').text(count);
  });
});

$('#tweet_image_appassetsimagestest1png').on('click', function() {
  $("#test1").show();
  $("#test2").hide();
  $("#test3").hide();
});
$('#tweet_image_appassetsimagessamplepng').on('click', function() {
  $("#test2").show();
  $("#test1").hide();
  $("#test3").hide();
});
$('#tweet_image_appassetsimagessample1png').on('click', function() {
  $("#test3").show();
  $("#test1").hide();
  $("#test2").hide();
});
</script>
<!-- ここまでjQuery -->